h5 Request
table
  tbody  
    tr
      td Authorization
      td: code {{request.authorization}} 
      
    {{#if request.signed}}
    tr
      td Signed
      td: code true
    {{/if}}
  
    {{#if request.mediatype}}
    tr
      td Content-Type  
      td: code {{toJSON request.mediatype}}
    {{/if}}
    
    {{#if request.encoding}}
    tr
      td Content-Encoding 
      td: code {{toJSON request.encoding}}
    {{/if}}
    
{{#if request.signed}}
h5 Request Body Signature
  p Note that this request body must be signed and presented as a Panda-Confidential Declaration, cotaning the body to be validated against the below JSON schema, the digital signature(s), and the signatory(ies)
{{/if}}

{{#if request.schema}}
h5 Request Body Schema

pre
  code.yaml.
    {{indent 4 (yaml request.schema)}}
    
{{/if}}
