AWSTemplateFormatVersion: "2010-09-09"
Description: Panda Sky Core Resources - Gateway Deployment
Parameters:
  API:
    Type: String
    Description: Gateway API ID for the Sky stack HTTP endpoint.

Resources:
  Deployment:
    Type: "AWS::ApiGateway::Deployment"
    Properties:
      RestApiId:
        Ref: API
      StageName: {{env}}
      StageDescription:
        StageName: {{env}}
        MethodSettings:
          - ResourcePath: "/"
            HttpMethod: GET
            MetricsEnabled: true
            DataTraceEnabled: false
            #LoggingLevel: INFO  # OFF, ERROR, INFO
            CachingEnabled: false
            # CacheTtlInSeconds: 1800
            # CacheDataEncrypted: false
